@model Factuacion_MVC.Models.Tblproducto

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid m-2">
    <h1 class="mt-2 titulos">Eliminar</h1>

    <div class="row">

        <h4 class="mt-2 titulos">Producto</h4>
        <hr />
        <h3 class="mb-2 ms-4 mb-2 fw-normal">¿Seguro de eliminar esto?</h3>
        <div class="col-6 w-50">
            <dl class="row ms-3">

                <dt class = "col-sm-4">
                    Nombre:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StrNombre)
                </dd>
                <dt class = "col-sm-4">
                    Codigo:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StrCodigo)
                </dd>
                <dt class = "col-sm-4">
                    Precio de Compra:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.NumPrecioCompra)
                </dd>
                <dt class = "col-sm-4">
                    Precio de Venta:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.NumPrecioVenta)
                </dd>
                <dt class = "col-sm-4">
                    Detalle:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StrDetalle)
                </dd>
                <dt class = "col-sm-4">
                    Foto:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StrFoto)
                </dd>
                <dt class = "col-sm-4">
                    Stock:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.NumStock)
                </dd>
                <dt class = "col-sm-4">
                    Categoria:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.IdCategoriaNavigation.StrDescripcion)
                </dd>

                <div class="d-flex w-50 justify-content-center align-items-center mt-3">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdProducto" />
                        <input type="submit" value="Eliminar" class="btn btn-outline-danger me-2" />
                        <a asp-action="Index" class="btn btn-outline-warning ms-2">Cancelar</a>
                    </form>
                </div>

            </dl>
        </div>
    </div>

</div>
