@model Factuacion_MVC.Models.Tblcliente

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid m-2">
    <h1 class="mt-2 titulos">Detalles</h1>

    <div class="row">

        <h4 class="mt-2 titulos">Cliente</h4>
        <hr />
        <div class="col-6 w-50">

            <dl class="row ms-3">
                <dt class="col-sm-4">
                    Nombre:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StrNombre)
                </dd>
                <dt class="col-sm-4">
                    Documento:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NumDocumento)
                </dd>
                <dt class="col-sm-4">
                    Dirección:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StrDireccion)
                </dd>
                <dt class="col-sm-4">
                    Telefono:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StrTelefono)
                </dd>
                <dt class="col-sm-4">
                    Email:
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StrEmail)
                </dd>
            </dl>

            <div class="d-flex w-50 mt-3 justify-content-center align-items-center">
                <a asp-action="Edit" class="btn btn-outline-primary me-2" asp-route-id="@Model?.IdCliente">Editar</a>
                <a asp-action="Index" class="btn btn-outline-warning ms-2">Volver</a>
            </div>
        </div>

    </div>
    

</div>
