@model Factuacion_MVC.Models.Tblfactura

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid m-2">
    <h1 class="mt-2 titulos">Eliminar</h1>

    <div class="row">

        <h4 class="mt-2 titulos">Factura</h4>
        <hr />
        <h3 class="mb-2 ms-4 mb-2 fw-normal">¿Seguro de eliminar esto?</h3>
        <div class="col-6 w-50">
            <dl class="row ms-3">

                <dt class = "col-sm-4">
                    Fecha:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.DtmFecha)
                </dd>
                <dt class = "col-sm-4">
                    Precio de Descuento:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.NumDescuento)
                </dd>
                <dt class = "col-sm-4">
                    Valor Impuesto:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.NumImpuesto)
                </dd>
                <dt class = "col-sm-4">
                    Valor Total:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.NumValorTotal)
                </dd>
                <dt class = "col-sm-4">
                    Cliente:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.IdClienteNavigation.StrNombre)
                </dd>
                <dt class = "col-sm-4">
                    Empleado:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.IdEmpleadoNavigation.StrNombre)
                </dd>
                <dt class = "col-sm-4">
                    Estado:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.IdEstadoNavigation.StrDescripcion)
                </dd>

                <div class="d-flex w-50 mt-3 justify-content-center align-items-center">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdFactura" />
                        <input type="submit" value="Eliminar" class="btn btn-outline-danger me-2" />
                        <a asp-action="Index" class="btn btn-outline-warning ms-2">Cancelar</a>
                    </form>
                </div>

            </dl>
        </div>
    </div>
</div>
