@model Factuacion_MVC.Models.Tblfactura

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid m-2">
    <h1 class="mt-2 titulos">Detalles</h1>

    <div class="row">

        <h4 class="mt-2 titulos">Factura</h4>
        <hr />
        <div class="col-6">
            <dl class="row ms-3">
                <dt class="col-sm-4">
                    Fecha
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DtmFecha)
                </dd>
                <dt class="col-sm-4">
                    Precio de Descuento
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NumDescuento)
                </dd>
                <dt class="col-sm-4">
                    Valor Impuesto
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NumImpuesto)
                </dd>
                <dt class="col-sm-4">
                    Valor Total
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NumValorTotal)
                </dd>
                <dt class="col-sm-4">
                    Fecha Modificación
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DtmFechaModifica)
                </dd>
                <dt class="col-sm-4">
                    Usuario Modifica
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StrUsuarioModifica)
                </dd>
                <dt class="col-sm-4">
                    ID Cliente
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
                </dd>
                <dt class="col-sm-4">
                    ID Empleado
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IdEmpleadoNavigation.IdEmpleado)
                </dd>
                <dt class="col-sm-4">
                    ID Estado
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IdEstadoNavigation.IdEstadoFactura)
                </dd>
            </dl>

            <div class="d-flex w-50 justify-content-center align-items-center">
                <a asp-action="Edit" class="btn btn-outline-primary me-2" asp-route-id="@Model?.IdFactura">Editar</a>
                <a asp-action="Index" class="btn btn-outline-warning ms-2">Volver</a>
            </div>
        </div>
    </div>
</div>

