@model IEnumerable<Factuacion_MVC.Models.Tblfactura>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid m-2">

    <h1 class="mt-2 titulos">Administrar <b>Facturas</b></h1>

    <div class="row">
        <div class="col-sm-8">
            <div class="search-box w-100">
                <i class="bi bi-search"></i>
                <input type="text" class="form-control" placeholder="Buscar&hellip;">
            </div>
        </div>
        <div class="col-sm-4">
            <p>
                <a asp-action="Create" class="btn btn-outline-info">+ Agregar</a>
            </p>

        </div>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Valor de Descuento
                </th>
                <th>
                    Valor de Impuesto
                </th>
                <th>
                    Valor Total
                </th>
                <th>
                    ID Cliente
                </th>
                <th>
                    ID Empleado
                </th>
                <th>
                    ID Estado
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DtmFecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumDescuento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumImpuesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumValorTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdClienteNavigation.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpleadoNavigation.IdEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEstadoNavigation.IdEstadoFactura)
                </td>

                <td class="text-center">
                        <a asp-action="Edit" class="text-primary ps-1 pe-1" asp-route-id="@item.IdFactura"><i class="bi bi-pencil-fill"></i></a> |
                        <a asp-action="Details" class="text-warning ps-1 pe-1" asp-route-id="@item.IdFactura"><i class="bi bi-eye-fill"></i></a> |
                        <a asp-action="Delete" class="text-danger ps-1 pe-1" asp-route-id="@item.IdFactura"><i class="bi bi-trash-fill"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
