@model Factuacion_MVC.Models.Tblempleado

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid m-2">
    <h1 class="mt-2 titulos">Eliminar</h1>

    <div class="row">

        <h4 class="mt-2 titulos">Empleado</h4>
        <hr />
        <h3 class="mb-2 ms-4 fw-normal">¿Seguro de eliminar esto?</h3>
        <div class="col-6">
            <dl class="row ms-3">
                <dt class = "col-sm-4">
                    Nombre:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StrNombre)
                </dd>
                <dt class = "col-sm-4">
                    Documento:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.NumDocumento)
                </dd>
                <dt class = "col-sm-4">
                    Dirección:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StrDireccion)
                </dd>
                <dt class = "col-sm-4">
                    Telefono:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StrTelefono)
                </dd>
                <dt class = "col-sm-4">
                    Email:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StrEmail)
                </dd>
                <dt class = "col-sm-4">
                    Fecha Ingreso:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.DtmIngreso)
                </dd>
                <dt class = "col-sm-4">
                    Fecha Retiro:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.DtmRetiro)
                </dd>
                <dt class = "col-sm-4">
                    Datos Adicionales:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.StrDatosAdicionales)
                </dd>
                <dt class = "col-sm-4">
                    Rol:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.IdRolEmpleadoNavigation.IdRolEmpleado)
                </dd>

                <div class="d-flex w-50 justify-content-center align-items-center mt-3">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdEmpleado" />
                        <input type="submit" value="Eliminar" class="btn btn-outline-danger me-2" />
                        <a asp-action="Index" class="btn btn-outline-warning ms-2">Cancelar</a>
                    </form>
                </div>

            </dl>
        </div>
    </div>
</div>
